body {
    /* background-image: url('images/backgroundImage.jpg'); */
    background-image: linear-gradient(#FF5F6D, #FFC371);
    background-size: cover;
}

h1 {
    color: #43aa8b;
    text-align: end;
    font-size: 100px;
}

h2 {
    color: #f9c74f;
    font-size: 40px;
}