body {
    /* background-image: url('images/backgroundImage.jpg'); */
    background-image: linear-gradient(#FF5F6D, #FFC371);
    background-size: cover;
    margin: 0;
}

h1 {
    color: #43aa8b;
    text-align: end;
    font-size: 100px;
}

h2 {
    color: #f9c74f;
    font-size: 40px;
}

h2:first-of-type {
    text-align: center;
}

h2:first-of-type ~ p {
    text-align: center;
    color: #f94144;
    font-size: 25px;
    display: block;
}

h2:nth-of-type(2) {
    text-align: center;
}

ul {
    margin-left: 35%;
    color: #f94144;
    font-size: 20px;
}

li > ul {
    margin-left: 1%;
}

footer {
    text-align: center;
    color: #43aa8b;
    border-top: solid;
    padding-bottom: 30px;
}

footer h4,
p {
    display: inline;
}

nav {
    display: flex;
    position: sticky;
    top: 0;
    background-color: #f9c74f;
    height: 90px;
}

nav a {
    flex: 1;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    color: black;
    font-size: 1.4rem;
    transition: all 0.2s;
    font-weight: bold;
}

nav a:hover {
    background-color: #f94144;
}